<h1>Information about Job: </h1> 
<p>{{vm.c}}</p>
<p> Title: {{vm.job.title }}<BR/>
     Description: {{vm.job.description}}<BR/>
     Experience: {{vm.job.experience}}<BR/> 
     Salary: {{vm.job.salary}}<BR/>
     Skills: {{vm.job.skills}}<BR/> 
     Post Date: {{vm.job.postDate | date:'MM/dd/yyyy hh:mm'}}<BR/> 
     
      Location: 
      latitud:{{vm.job.location.latitud}}
      ,longitude:{{vm.job.location.longitud}} 
      <BR/>
    </p>


    <button class="btn  btn-danger"  ng-click="vm.deleteJob()">Delete</button>
    <button class="btn  btn-success"  ng-click="vm.editJob()">edit</button>
    

      <form name="vm.jobForm" ng-submit="vm.updateJob()">
        To add a new job please fill in all the fields below:<BR />
        Title: <input type="text" name="title" required ng-model="vm.newJobTitle" style="color:black" /><BR />
        Description: <input type="text" name="description" required ng-model="vm.newJobDescription" style="color:black" /><BR />
        Salary: <input type="" name="salary" ng-pattern="/^[0-9]{1,5}$/"  required ng-model="vm.newJobSalary" style="color:black" />
        Experience: <input type="text" name="experience" required ng-model="vm.newJobExperience" style="color:black" /><BR />
        Skill:  <input type="text" name="skill" required ng-model="vm.newJobSkill" style="color:black" /><BR />
        Post Date:  <input type="date" name="date"  ng-model="vm.newJobDate" style="color:black" /><BR />
        <span ng-show="vm.jobForm.salary.$dirty && vm.jobForm.salary.$invalid"
                style="color:black">
                Salary Range is between 1 - 99999!.</span>
        <button type="submit" class="btn-success">Update Job</button><BR />
    </form>